.container{
    background-color: grey;
    @include flex($just:space-between, $align:center);
    padding: 30px 0;
    .logo-div{
        position: relative;
        .logo{
            color: #FFF;
            text-align: center;
            font-family: Volkhov;
            font-size: 31.622px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: capitalize;
        }
        svg{
            position: absolute;
            width: 96.13px;
            height: 35.346px;
            fill: #DF6951;
            left: 20px;
            bottom: -10px;
        }

     
    }
    .menu{
       
       ul{
        display: flex;

        li{
          a{
            padding: 0 15px;
            color: #FFF;
             font-size: 17px;
             font-style: normal;
             font-weight: 500;
             line-height: normal;
             span{
                 padding: 0 0px;
                 svg{
                     width: 11.595px;
                     height: 7.481px;
                     fill: #FFF;
                     
     
                 }
             }
          }
            
        }
        #services{
            position: relative;
            z-index: 1;
            a{
                padding-right: 7px ;
            }
            .submenu{
                position: absolute;
                z-index: 2;
                background-color: red;
                left: 0;
                top: 65px;
                border-radius: 15px;
                ul{
                    
                    @include flex($just:center,$direction:column);
                    width: 250px;
                    height: 188px;
                    flex-shrink: 0;
                    text-align: left;
                    padding: 20px 0px;
                    li{
                        padding: 5px 0;
                        a{
                            color: #FFF;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;

                        }
                    }
                   
                }
            }
            .submenu::after{
                position: absolute;
                content: "";
                background-color: blue;
                top: -25px;
                left: 30px;
                width: 30px;
                height: 30px;
            }       
         }
       }

    }
    .touch{
        width: 152px;
        height: 58px;
        flex-shrink: 0;
        background-color: #DF6951;
filter: drop-shadow(0px 20px 35px rgba(223, 105, 81, 0.15));
        @include center();
        border-radius: 15px;

button{
    color: #FFF;
    font-family: Circular Std;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    background-color: #DF6951;

}
    }
}