

.nav{
    .detskop-navbar{
        .container{
            // background-color: rgb(97, 97, 224);
            @include flex($just:space-between, $align:center);
            padding: 30px 0;
            position: fixed;
            left: 50%;
            right: 50%;
            transform: translate(-50%,0%);
            z-index: 1;
            .logo-div{
                // background-color: red;
                width: 100px;
                position: relative;
                .logo{
                    color: #FFF;
                    text-align: center;
                    font-family: Volkhov;
                    font-size: 31.622px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    text-transform: capitalize;
                    
                }
                svg{
                    position: absolute;
                    width: 96.13px;
                    height: 35.346px;
                    fill: $mainColor();
                    left: 30px;
                    bottom: -10px;
                }
        
             
            }
            .menu{
               display: none;
               @media (min-width: 1024px) {
                    display: block;
               }
               ul{
                display: flex;
        
                li{
                  a{
                    padding: 0 20px;
                    color: #FFF;
                     font-size: 17px;
                     font-style: normal;
                     font-weight: 500;
                     line-height: normal;
                     position: relative;
        
                   
                     span{
                         padding: 0 0px;
                         svg{
                             width: 11.595px;
                             height: 7.481px;
                             fill: #FFF;
                             
             
                         }
                     }
                  }
                  a:before{
                    position: absolute;
                    content: "";
                    bottom: -5px;
                    left: 50%;
                    right: 50%;
                    transform: translate(-50%, -50%);
                    height: 2px;
                    width:0%;
                    background-color: $mainColor();
                    opacity: 0;
                    visibility: hidden;
                    transition: .3s ease;
                 }
        
                }
                li:hover a::before{
                    opacity: 1;
                    visibility: visible;
                    width:50%;
                }
                #services{
                    position: relative;
                    z-index: 1;
                    a{
                        padding-right: 7px ;
                    }
                    .submenu{
                        position: absolute;
                        z-index: 2;
                        background-color: rgba(217, 217, 217, 0.58);
                        left: 0;
                        top: 50px;
                        border-radius: 15px;
                        opacity: 0;
                        visibility: hidden;
                        transition: .3s ease;
                        ul{
                            
                            @include flex($just:center,$direction:column);
                            width: 250px;
                            height: 188px;
                            flex-shrink: 0;
                            text-align: left;
                            padding: 20px 0px;
                            li{
                                padding: 5px 0;
                                a{
                                    color: #FFF;
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: normal;
        
                                }
                                a:before{
                                    display: none;
                                }
                            }
                           
                        }
                    }
                    .submenu::after{
                        position: absolute;
                        content: "";
                        top: -35px;
                        left: 30px;
                        width: 0px;
                        height: 0px;
                        border-width: 18px;
                        border-style: solid;
                        border-color: transparent  transparent rgba(217, 217, 217, 0.58)  transparent;
                    }  
                         
                 }
                 #services:hover .submenu{
                    opacity: 1;
                    visibility: visible;
                    
                 }
               }
        
            }
            .touch{
                display: none;
                @media (min-width: 1024px) {
                    width: 152px;
                height: 50px;
                // flex-shrink: 0;
                background-color: $mainColor();
                filter: drop-shadow(0px 20px 35px rgba(223, 105, 81, 0.15));
                @include center();
                border-radius: 12px;
                }
        
        button{
            color: #FFF;
            font-family: Circular Std;
            font-size: 17px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            border: none;
            background-color: #DF6951;
        
        }
            }
        
            .mobile-btn{
                display: block;
                color: #fff;
                @media (min-width: 1024px) {
                display: none;
               
            }
            }
            .mobile-menu{
                // display: none;
                transform: translateX(100%);
                width: 500px;
                background-color: red;
                position: fixed;
                right: 0px;
                top:0;
                &.show{
                   transform: translateX(0%);
             
                }
                .close{
                 position: absolute;
                 right: 0;
                 top: 0;
                }
             }
             .mobile-menu.show{
                display: block;
             }
        }
    }
}