

.partnership{
    .slider{
        .swiper{
            .swiper-wrapper{
                .swiper-slide{
                    margin: 50px 0;
                    height: 200px;
                    flex-shrink: 0;
                    overflow: hidden;
                    
                    img{
                        width: 143.385px;
                        height: 65px;
                        object-fit: cover;
                        opacity: 0.44;
                        background-color: transparent;
                        }
                    }
                    
                }
            }
        }
    }   
