@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Volkhov", serif;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.nav .detskop-navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  position: fixed;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 0%);
  z-index: 1;
}
.nav .detskop-navbar .container .logo-div {
  width: 100px;
  position: relative;
}
.nav .detskop-navbar .container .logo-div .logo {
  color: #FFF;
  text-align: center;
  font-family: Volkhov;
  font-size: 31.622px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
.nav .detskop-navbar .container .logo-div svg {
  position: absolute;
  width: 96.13px;
  height: 35.346px;
  fill: #DF6951;
  left: 30px;
  bottom: -10px;
}
.nav .detskop-navbar .container .menu {
  display: none;
}
@media (min-width: 1024px) {
  .nav .detskop-navbar .container .menu {
    display: block;
  }
}
.nav .detskop-navbar .container .menu ul {
  display: flex;
}
.nav .detskop-navbar .container .menu ul li a {
  padding: 0 20px;
  color: #FFF;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
}
.nav .detskop-navbar .container .menu ul li a span {
  padding: 0 0px;
}
.nav .detskop-navbar .container .menu ul li a span svg {
  width: 11.595px;
  height: 7.481px;
  fill: #FFF;
}
.nav .detskop-navbar .container .menu ul li a:before {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  height: 2px;
  width: 0%;
  background-color: #DF6951;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}
.nav .detskop-navbar .container .menu ul li:hover a::before {
  opacity: 1;
  visibility: visible;
  width: 50%;
}
.nav .detskop-navbar .container .menu ul #services {
  position: relative;
  z-index: 1;
}
.nav .detskop-navbar .container .menu ul #services a {
  padding-right: 7px;
}
.nav .detskop-navbar .container .menu ul #services .submenu {
  position: absolute;
  z-index: 2;
  background-color: rgba(217, 217, 217, 0.58);
  left: 0;
  top: 50px;
  border-radius: 15px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}
.nav .detskop-navbar .container .menu ul #services .submenu ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  height: 188px;
  flex-shrink: 0;
  text-align: left;
  padding: 20px 0px;
}
.nav .detskop-navbar .container .menu ul #services .submenu ul li {
  padding: 5px 0;
}
.nav .detskop-navbar .container .menu ul #services .submenu ul li a {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.nav .detskop-navbar .container .menu ul #services .submenu ul li a:before {
  display: none;
}
.nav .detskop-navbar .container .menu ul #services .submenu::after {
  position: absolute;
  content: "";
  top: -35px;
  left: 30px;
  width: 0px;
  height: 0px;
  border-width: 18px;
  border-style: solid;
  border-color: transparent transparent rgba(217, 217, 217, 0.58) transparent;
}
.nav .detskop-navbar .container .menu ul #services:hover .submenu {
  opacity: 1;
  visibility: visible;
}
.nav .detskop-navbar .container .touch {
  display: none;
}
@media (min-width: 1024px) {
  .nav .detskop-navbar .container .touch {
    width: 152px;
    height: 50px;
    background-color: #DF6951;
    filter: drop-shadow(0px 20px 35px rgba(223, 105, 81, 0.15));
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
  }
}
.nav .detskop-navbar .container .touch button {
  color: #FFF;
  font-family: Circular Std;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  background-color: #DF6951;
}
.nav .detskop-navbar .container .mobile-btn {
  display: block;
}
@media (min-width: 1024px) {
  .nav .detskop-navbar .container .mobile-btn {
    display: none;
  }
}
.nav .detskop-navbar .container .mobile-menu {
  transform: translateX(100%);
  width: 500px;
  background-color: red;
  position: fixed;
  right: 0px;
  top: 0;
}
.nav .detskop-navbar .container .mobile-menu.show {
  transform: translateX(0%);
}
.nav .detskop-navbar .container .mobile-menu .close {
  position: absolute;
  right: 0;
  top: 0;
}
.nav .detskop-navbar .container .mobile-menu.show {
  display: block;
}

.mobile-menu {
  transform: translateX(100%);
  width: 400px;
  height: 100vh;
  background-color: red;
  position: fixed;
  right: 0px;
  top: 0;
  z-index: 2;
  transition: 0.3s ease;
}
.mobile-menu.show {
  transform: translateX(0%);
}
.mobile-menu .close {
  position: absolute;
  right: 20px;
  top: 10px;
}
.mobile-menu .close i {
  color: #FFF;
  font-size: 20px;
}
.mobile-menu .menu ul {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 30px 0;
}
.mobile-menu .menu ul li {
  padding: 20px 15px;
}
.mobile-menu .menu ul li a {
  padding: 0 20px;
  color: #FFF;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.mobile-menu .menu ul li a span {
  padding: 0 0px;
}
.mobile-menu .menu ul li a span svg {
  width: 11.595px;
  height: 7.481px;
  fill: #FFF;
}
.mobile-menu .menu ul #services {
  position: relative;
  z-index: 1;
}
.mobile-menu .menu ul #services a {
  padding-right: 7px;
}
.mobile-menu .menu ul #services .submenu {
  position: absolute;
  z-index: 2;
  background-color: rgba(217, 217, 217, 0.58);
  left: 0;
  top: 50px;
  border-radius: 15px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}
.mobile-menu .menu ul #services .submenu ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  height: 188px;
  flex-shrink: 0;
  text-align: left;
  padding: 20px 0px;
}
.mobile-menu .menu ul #services .submenu ul li {
  padding: 5px 0;
}
.mobile-menu .menu ul #services .submenu ul li a {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.mobile-menu .menu ul #services .submenu ul li a:before {
  display: none;
}
.mobile-menu .menu ul #services .submenu::after {
  position: absolute;
  content: "";
  top: -35px;
  left: 30px;
  width: 0px;
  height: 0px;
  border-width: 18px;
  border-style: solid;
  border-color: transparent transparent rgba(217, 217, 217, 0.58) transparent;
}
.mobile-menu .menu ul #services:hover .submenu {
  opacity: 1;
  visibility: visible;
}

.home .where .container-fluid {
  min-height: 120vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}
.home .where .container-fluid::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: rgba(0, 0, 0, 0.356);
}
.home .where .container-fluid .where-content {
  position: relative;
  z-index: 1;
  margin: 0 90px;
  max-height: 500px;
  overflow: hidden;
}
.home .where .container-fluid .where-content .svg {
  text-align: left;
}
.home .where .container-fluid .where-content .svg span svg {
  width: 78.356px;
  height: 15.671px;
}
.home .where .container-fluid .where-content .where-text {
  width: 631px;
  height: 272px;
}
.home .where .container-fluid .where-content .where-text p {
  color: #FFF;
  font-size: 58.506px;
  font-style: normal;
  font-weight: 700;
  line-height: 67.908px;
  text-align: left;
}
.home .where .container-fluid .where-content .where-choose {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 844px;
  height: 102px;
  border-radius: 5.224px;
  background: rgba(243, 243, 243, 0.6);
  -webkit-backdrop-filter: blur(17.7606182098px);
          backdrop-filter: blur(17.7606182098px);
}
@media (min-width: 1024px) {
  .home .where .container-fluid .where-content .where-choose {
    width: 844px;
  }
}
.home .where .container-fluid .where-content .where-adress {
  border-right: 2px solid #D0D0D0;
}
.home .where .container-fluid .where-content .where-adress input {
  color: #FFF;
  font-size: 18.805px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  border: none;
  width: auto;
}
.home .where .container-fluid .where-content .where-adress input::-moz-placeholder {
  color: #FFF;
}
.home .where .container-fluid .where-content .where-adress input::placeholder {
  color: #FFF;
}
.home .where .container-fluid .where-content .where-adress input:focus {
  outline: none;
}
.home .where .container-fluid .where-content .where-type {
  border-right: 2px solid #D0D0D0;
}
.home .where .container-fluid .where-content .where-type select, .home .where .container-fluid .where-content .where-duration select {
  background-color: transparent;
  border: none;
  color: #fff;
}
.home .where .container-fluid .where-content .where-type select option, .home .where .container-fluid .where-content .where-duration select option {
  color: #fff;
}
.home .where .container-fluid .where-content .where-type select:focus, .home .where .container-fluid .where-content .where-duration select:focus {
  outline: none;
}
.home .where .container-fluid .where-content .where-submit {
  display: inline-flex;
  padding: 16px 57.561px 15.416px 57px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #DF6951;
  box-shadow: 0px 20px 35px 0px rgba(223, 105, 81, 0.15);
}
.home .where .container-fluid .where-content .where-submit button {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 16.716px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  background-color: transparent;
}/*# sourceMappingURL=style.css.map */